streamlit==1.41.1
langgraph==0.2.60
langchain-core==0.3.28
openai==1.58.1
python-dotenv==1.0.1
pypdf==5.1.0
pdfplumber==0.11.5
reportlab==4.2.5
pandas==2.2.3
rapidfuzz==3.11.0
pydantic==2.10.4
pillow==10.4.0
pymupdf==1.25.1
qdrant-client
sentence-transformers
torch